#footer {
  padding: 40px 120px 50px;

  background-color: #373737;
}

.footer-top {
  display: flex;
  align-items: center;
}

.footer-top-left {
  display: flex;

  align-items: center;
}

.footer-logo-icon {
  margin-right: 10px;
  
  width: 24px;
  height: 24px;
}