#board-detail-wrapper {
  padding: 100px 222px;
}

.board-detail-top {
  margin-bottom: 40px;
}

.board-detail-title-container {
  margin-bottom: 20px;
}

.board-detail-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 140%; /* 44.8px */
}

.board-detail-meta-container {
  display: flex;
  justify-content: space-between;
}

.board-detail-meta-left {
  display: flex;
  align-items: center;
}

.board-detail-writer-profile-image {
  margin-right: 8px;

  border-radius: 32px;
  width: 32px;
  height: 32px;

  background-color: black;
  /* background-image: url(asset/); */
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-writer-nickname {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.board-detail-write-date {
  margin-left: 8px;

  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.board-detail-meta-right {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}

.more-button-group {
  position: absolute;
  top: -90px;
  right: 0;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}

.more-button {
  width: 143px;
  padding: 10px 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;

  text-align: center;

  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.more-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.more-button-red {
  width: 143px;
  padding: 10px 17px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  
  text-align: center;

  color: rgba(255, 0, 0, 0.5);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%; /* 19.6px */
}

.more-button-red:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.board-detail-more-button {
  border-radius: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-more-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.more-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/more.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-middle {
  margin-top: 40px;
}

.board-detail-content {
  color: rgba(0, 0, 0, 0.7);

  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.board-detail-image-box {
  margin-top: 20px;
}

.board-detail-image {
  width: 100%;
}

.board-detail-bottom {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.board-detail-bottom-item {
  margin-right: 12px;

  display: flex;
  align-items: center;
}

.board-detail-bottom-button {
  margin-right: 6px;

  border-radius: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-bottom-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.favorite-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/favorite_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.favorite-fill-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/favorite_fill.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-bottom-text {
  margin-right: 6px;

  color: rgba(0, 0, 0, 0.7);
  
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.down-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/expand_down_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.up-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/expand_up_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.comment-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/chat_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.favorite-list-box {
  margin-top: 21px;
  padding: 20px 20px 13px;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

.favorite-list-title {
  color: #000;

  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */  
}

.favorite-list-title-emphasis {
  font-weight: 700;
}

.favorite-list-container {
  margin-top: 20px;
}

.favorite-list-item {
  margin-right: 30px;
  margin-bottom: 25px;

  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.favorite-user-profile {
  margin-right: 8px;

  width: 32px;
  height: 32px;

  border-radius: 32px;
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.favorite-user-nickname {
  color: rgba(0, 0, 0, 0.7);

  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.comment-list-box {
  margin-top: 20px;
}

.comment-list-top {
  padding: 0 23px 0 20px;
}

.comment-list-title {
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.comment-list-title-emphasis {
  font-weight: 700;
}

.comment-list-container {
  margin-top: 5px 0;
}

.comment-box {
  margin-top: 20px;
  padding: 20px;

  border: 1px solid rgba(0, 0, 0, 0.2);

  display: flex;
  flex-direction: column;
}

.comment-textarea {
  display: block;
  
  width: 100%;

  border: none;
  outline: none;
  background: none;
  resize: none;

  overflow: hidden;

  color: #000;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.comment-button-box {
  display: flex;
  justify-content: end;
}
