#board-detail-wrapper {
  padding: 100px 222px;
}

.board-detail-top {
  margin-bottom: 40px;
}

.board-detail-title-container {
  margin-bottom: 20px;
}

.board-detail-title {
  font-size: 32px;
  font-weight: 500;
  line-height: 140%; /* 44.8px */
}

.board-detail-meta-container {
  display: flex;
  justify-content: space-between;
}

.board-detail-meta-left {
  display: flex;
  align-items: center;
}

.board-detail-writer-profile-image {
  margin-right: 8px;

  border-radius: 32px;
  width: 32px;
  height: 32px;

  background-color: black;
  /* background-image: url(asset/); */
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-writer-nickname {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.board-detail-write-date {
  margin-left: 8px;

  color: rgba(0, 0, 0, 0.4);
  font-size: 16px;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
}

.board-detail-meta-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-more-button {
  border-radius: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-more-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
}

.more-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/more.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-middle {
  margin-top: 40px;
}

.board-detail-content {
  color: rgba(0, 0, 0, 0.7);

  font-size: 18px;
  font-weight: 500;
  line-height: 150%; /* 27px */
}

.board-detail-image-box {
  margin-top: 20px;
}

.board-detail-image {
  width: 100%;
}

.board-detail-bottom {
  margin-top: 20px;

  display: flex;
  align-items: center;
}

.board-detail-bottom-item {
  margin-right: 12px;

  display: flex;
  align-items: center;
}

.board-detail-bottom-button {
  margin-right: 6px;

  border-radius: 24px;

  width: 24px;
  height: 24px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.board-detail-bottom-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.08);
}

.favorit-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/favorite_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.favorit-fill-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/favorite_fill.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.board-detail-bottom-text {
  margin-right: 6px;

  color: rgba(0, 0, 0, 0.7);
  
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.down-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/expand_down_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.up-icon {
  width: 24px;
  height: 24px;

  background-image: url(asset/expand_up_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}

.comment-icon {
  width: 21px;
  height: 21px;

  background-image: url(asset/chat_light.png);
  background-position: 50% 50%;
  background-size: 100% 100%;
}
