.divider {
  border-top: 1px solid rgba(0, 0, 0, 0.2)
}

.black-button {
  border-radius: 46px;

  margin-left: 10px;

  width: 95px;
  height: 30px;

  background-color: black;

  color: #ffffff;

  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.black-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.75);
}

.black-disable-button {
  border-radius: 46px;

  margin-left: 10px;

  width: 95px;
  height: 30px;

  background-color: black;
  opacity: 0.4;

  color: #ffffff;

  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.black-disable-button:hover {
  cursor: not-allowed;
}

.white-button {
  border-radius: 46px;

  margin-left: 10px;

  width: 93px;
  height: 28px;

  background-color: #ffffff;

  border: 1px solid rgba(0, 0, 0, 0.5);

  color: rgba(0, 0, 0, 0.5);

  font-family: 'Pretendard';
  font-size: 14px;
  font-weight: 500;
  line-height: 19.6px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.white-button:hover {
  cursor: pointer;
  background-color: rgba(240, 240, 240, 0.75);
}
