#auth_wrapper {
  padding: 100px 120px 150px;

  height: calc(100vh - 64px - 250px);

  background-image: url(asset/auth_background.png);
  background-position: 50% 50%;
  background-size: 100% 100%;

  display: flex;
}

.auth-left {
  flex: 7;

  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-right {
  flex: 5;

  background-color: #ffffff;

  display: flex;
  flex-direction: column;
}